<p>
    <style>
        p {text-align: center;}
        form {text-align: center;}
    </style>
    <p></p>
    <p style="text-align:center; font-size:30px">Admin profile</p>
    <p></p>
    <p style="text-align:left; font-size:26px">1. Name: ${cur_name}</p>
    <p></p>
    <p style="text-align:left; font-size:26px">2. Role: Administration</p>
    <p></p>
    <p style="text-align:left; font-size:26px">3. Authority: </p>
    <form style="text-align:left; font-size:23px" action="/profile_1" method="post">
        Add the user: <input name="added_user" type="text" />    <input value="confrim" type="submit" />
    </form>
    </br>
    <form style="text-align:left; font-size:23px" action="/profile_2" method="post">
        Delete the user: <input name="deleted_user" type="text" />    <input value="confrim" type="submit" />
    </form>
    </br>
    <form style="text-align:left; font-size:23px" action="/profile_3" method="post">
        Mute the user: <input name="muted_user" type="text" />    <input value="confrim" type="submit" />
    </form>
    </br>
    <form style="text-align:left; font-size:23px" action="/profile_4" method="post">
        Unmute the user: <input name="unmuted_user" type="text" />    <input value="confrim" type="submit" />
    </form>

    <p style="text-align:left; font-size:26px">4. <a href="/user_list">User list</a></p>


</p>
</center>