<head>
  <link rel="stylesheet" type="text/css" href="css/temp1.css">
  <script src="js/head.js"></script>
  <br> <br> <br>
</head>

<p>
<ul id="navbar">
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/tut">Tutorial</a></li>
</ul>
</p>
<!-- 
<center>
  <h2>Simple Student Templating Solutions</h2>


  <h3><i>Because the usability is more important than the back end for now.</i></h3>

  <p> -->
