
Login with a username and password
</p>
<p>
        <style>
            p {text-align: center;}
            form {text-align: center;}
        </style>
        <p></p>
        <p style="text-align:center; font-size:30px">website name</p>
        <p></p>
        <p style="text-align:center; font-size:25px">Login</p>
<form action="/login" method="post">
    Username: <input name="username" type="text" />
</br>
    Password: <input name="password" type="password" />
</br>
    <input value="Login" type="submit" />
</form>
<p><a href="/register">register</a></p>
</p>
</center>

