<style>
    p {text-align: center;}
    form {text-align: center;}
    </style>
        <p></p>
        <p style="text-align:center; font-size:30px">Registration</p>
  
        <p><a href="/login">Return to Login Page</a></p>
<p></p>
        <form style="text-align:center; action="/register" method="post">
            <p>Username: <input name="username" type="text" /></p>
            <p>Password: <input name="password" type="password" /></p>
            <p>Confirm Password: <input name="confirm password" type="text" /></p>
            <p></p>
            <p><input value ="Register" type="submit" /></p>
        </form>
