<body>
  <ul class="tutorial">
    <li class="tutorial"><a class="tutorial" href="#web">Web Basics</a></li>
    <li class="tutorial"><a class="tutorial" href="#html">HTML</a></li>
    <li class="tutorial"><a class="tutorial" href="#css">CSS</a></li>
    <li class="tutorial"><a class="tutorial" href="#sql">SQL</a></li>
    <!-- #仅作为测试 -->
  </ul>

  <div id="web" class="tutorial">
    <h2>Web Basics</h2>
    <h3>aaa</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25%
      width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long
      (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
  </div>

  <div id="html" class="tutorial">
    <h2>HTML</h2>
    <h3>HTML</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25%
      width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long
      (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
  </div>

  <div id="css" class="tutorial">
    <h2>CSS</h2>
    <h3>CSS</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25%
      width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long
      (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
  </div>

  <div id="sql" class="tutorial">
    <h2>SQL</h2>
    <h3>SQL</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25%
      width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long
      (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
  </div>

</body>