<body>
  <ul class="tutorial">
    <li class="tutorial"><a class="tutorial" href="#web">Web Basics</a></li>
    <li class="tutorial"><a class="tutorial" href="#html">HTML</a></li>
    <li class="tutorial"><a class="tutorial" href="#css">CSS</a></li>
    <li class="tutorial"><a class="tutorial" href="#javascript">JavaScript</a></li>
    <!-- #仅作为测试 -->
  </ul>

  <div id="web" class="tutorial">
    <h2>Web Basics</h2>
    <h3>How the web works?</h3>
    <div class="summary">
    <p style="text-align:left;"><em>How the web works</em> provides a simplified view of what happens when you view a webpage in a web browser on your computer or phone.</p>
    </div>
    <p style="text-align:left;">This theory is not essential to writing web code in the short term, but before long you'll really start to benefit from understanding what's happening in the background.</p>
    <h4>Clients and Servers</h4>
    <p style="text-align:left;">Computers connected to the web are called <strong>clients</strong> and <strong>servers</strong>. A simplified diagram of how they interact might look like this:</p>
    <p style="text-align:left;">
      <img src="img/client&server.png">
    </p>
    <li style="text-align:left;">Clients are the typical web user's internet-connected devices (for example, your computer connected to your Wi-Fi, or your phone connected to your mobile network) and web-accessing software available on those devices (usually a web browser like Firefox or Chrome).</li>
    <li style="text-align:left;">Servers are computers that store webpages, sites, or apps. When a client device wants to access a webpage, a copy of the webpage is downloaded from the server onto the client machine to be displayed in the user's web browser.</li>
    <br>
    <h4>The Other Parts of the Toolbox</h4>
    <p style="text-align:left;"> The client and server we've described above don't tell the whole story. There are many other parts involved, and we'll describe them below.<br>
      For now, let's imagine that the web is a road. On one end of the road is the client, which is like your house. On the other end of the road is the server, which is a shop you want to buy something from.<br>
      In addition to the client and the server, we also need to say hello to:</p>
      <li style="text-align:left;"><strong>Your internet connection: </strong>Allows you to send and receive data on the web. It's basically like the street between your house and the shop.</li>
      <li style="text-align:left;"><strong>TCP/IP: </strong>Transmission Control Protocol and Internet Protocol are communication protocols that define how data should travel across the internet. This is like the transport mechanisms that let you place an order, go to the shop, and buy your goods. In our example, this is like a car or a bike (or however else you might get around).</li>
      <li style="text-align:left;"><strong>DNS: </strong>Domain Name Servers are like an address book for websites. When you type a web address in your browser, the browser looks at the DNS to find the website's real address before it can retrieve the website. The browser needs to find out which server the website lives on, so it can send HTTP messages to the right place (see below). This is like looking up the address of the shop so you can access it.</li>
      <li style="text-align:left;"><strong>HTTP: </strong>Hypertext Transfer Protocol is an application protocol that defines a language for clients and servers to speak to each other. This is like the language you use to order your goods.</li>
      <li style="text-align:left;"><strong>Component files: </strong>A website is made up of many different files, which are like the different parts of the goods you buy from the shop. These files come in two main types:
        <ul>
          <li style="text-align:left;"><strong>Code files: </strong>Websites are built primarily from HTML, CSS, and JavaScript, though you'll meet other technologies a bit later.</li>
          <li style="text-align:left;"><strong>Assets: </strong>This is a collective name for all the other stuff that makes up a website, such as images, music, video, Word documents, and PDFs.</li>
        </ul>
      </li>
    <br>
    <h4> So Wha Happens Exactly</h4>
    <p style="text-align:left;">When you type a web address into your browser (for our analogy that's like walking to the shop):</p>
    <ol>
    	<li>The browser goes to the DNS server, and finds the real address of the server that the website lives on (you find the address&nbsp;of the shop).</li>
    	<li>The browser sends an HTTP request message to the server, asking it to send a copy of the website to the client (you go to the shop and order your goods). This message, and all other data sent between the client and the server, is sent across your internet connection using TCP/IP.</li>
    	<li>If the server approves the client's request, the server sends the client a "200 OK" message, which means "Of course you can look at that website! Here it is", and then starts sending the website's files to the browser as a series of small chunks called data packets (the shop gives&nbsp;you your goods, and you bring them back to your house).</li>
    	<li>The browser assembles the small chunks into a complete web page&nbsp;and displays it to you (the goods arrive at your door — new shiny stuff, awesome!).</li>
    </ol>
    <br>
    <h4>Order in which component files are parsed</h4>
    <p style="text-align:left;">Once the client’s request is approved, the server first sends back the HTML (index) file — index.html is commonly named as such, as it is the first file of a website to be parsed by the server.<br>
      The HTML file can reference CSS and JavaScript, either in external files via <code>&lt;link&gt;</code> and <code>&lt;script&gt;</code> elements respectively, or embedded in the HTML page via <code>&lt;style&gt;</code> and <code>&lt;script&gt;</code> elements.<br>
      From a server standpoint it is important to know the order in which these files are parsed when the response is sent back:</p>
      <li style="text-align:left;">The HTML file is parsed first and, by looking inside that file, the server recognises which CSS and JavaScript files are referenced.</li>
      <li style="text-align:left;">After the HTML has been parsed and a DOM tree structure has been generated from it, the linked CSS is then parsed, and styles are applied to the appropriate parts of the DOM tree. At this point, the visual representation of the page is painted to the screen, and the user sees the page.</li>
      <li style="text-align:left;">The JavaScript usually gets parsed and applied to the page after the HTML and CSS.</li>
      <br>
      <h4>DNS Explained</h4>
      <p style="text-align:left;">Real web addresses aren't the nice, memorable strings you type into your address bar to find your favorite websites. They are special numbers that look like this: <code>63.245.215.20</code>.<br>
        This is called an IP address, and it represents a unique location on the web. However, it's not very easy to remember, is it? That's why Domain Name Servers were invented. These are special servers that match up a web address you type into your browser (like "mozilla.org") to the website's real (IP) address.<br>
        Websites can be reached directly via their IP addresses. You can find the IP address of a website by typing its domain into a tool like IP Checker.</p>
      <br>
      <h4>Packets Explained</h4>
      <p style="text-align:left;">Earlier we used the term "packets" to describe the format in which the data is sent from server to client. What do we mean here? Basically, when data is sent across the web, it is sent as thousands of small chunks, so that many different web users can download the same website at the same time. If websites were sent as single big chunks, only one user could download one at a time, which obviously would make the web very inefficient and not much fun to use.</p>
  </div>

  <div id="html" class="tutorial">
    <h2>HTML</h2>
    <h3>HTML Introduction</h3>
    <h4>What is HTML?</h4>
    <p style="text-align:left;">HTML stands for Hyper Text Markup Language<br>
    HTML is the standard markup language for creating Web pages<br>
    HTML describes the structure of a Web page<br>
    HTML consists of a series of elements<br>
    HTML elements tell the browser how to display the content<br>
    HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.
  </p>
  <br>
  <h4>What is an HTML Element?</h4>
  <p style="text-align:left;">An HTML element is defined by a start tag, some content, and an end tag:</p>
  <div>
    <span style="color:red">
      <span style="color:blue"><</span>
      tagname
      <span style="color:blue">></span>
      </span>
      Content goes here...
      <span style="color:red">
        <span style="color:blue"><</span>
        /tagname
        <span style="color:blue">></span>
        </span>
    </div>
    <p style="text-align:left;">The HTML <strong>element</strong> is everything from the start tag to the end tag:</p>
    <div>
      <span style="color:red">
        <span style="color:blue"><</span>
        h1
        <span style="color:blue">></span>
        </span>
        My First heading
        <span style="color:red">
          <span style="color:blue"><</span>
          /h1
          <span style="color:blue">></span>
          </span>
          <br>
          <span style="color:red">
            <span style="color:blue"><</span>
            p
            <span style="color:blue">></span>
            </span>
            My first paragraph.
            <span style="color:red">
              <span style="color:blue"><</span>
              /p
              <span style="color:blue">></span>
              </span>
      </div>
      <p style="text-align:left;"><strong>Note: </strong>Some HTML elements have no content (like the &lt;br&gt; element). These elements are called empty elements. Empty elements do not have an end tag!</p>
      <br>
      <h4>Web Browser</h4>
      <p style="text-align:left;">The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read HTML documents and display them correctly.</p>
      <p style="text-align:left;">A browser does not display the HTML tags, but uses them to determine how to display the document.</p>
      <br>
      <h4>HTML Page Structure</h4>
      <p style="text-align:left;">Below is a visualization of an HTML page structure:</p>
      <p style="text-align:left;">
        <img alt="Sample Structure" src="img/HTML_structure.png">
      </p>
      </div>


  <div id="css" class="tutorial">
    <h2>CSS</h2>
    <h3>CSS Introduction</h3>
    <h4>What is CSS?</h4>
    <p style="text-align:left;">CSS stands for Cascading Style Sheets<br>
      CSS describes how HTML elements are to be displayed on screen, paper, or in other media<br>
      CSS saves a lot of work. It can control the layout of multiple web pages all at once<br>
      External stylesheets are stored in CSS files<br>
    </p>
    <br>
    <h4> Why Use CSS?</h4>
    <p style="text-align:left;">CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes.</p>
    <br>
    <h4>CSS Solved a Big Problem</h4>
    <p style="text-align:left;">HTML was NEVER intended to contain tags for formatting a web page!</p>
    <p style="text-align:left;">HTML was
    created to describe the content of a web page, like:</p>
    <p style="text-align:left;">&lt;h1&gt;This is a heading&lt;/h1&gt;</p>
    <p style="text-align:left;">&lt;p&gt;This is a paragraph.&lt;/p&gt;</p>
    <p style="text-align:left;">When tags like &lt;font&gt;, and color attributes were added to the HTML 3.2
    specification, it started a nightmare for web developers. Development of large
    websites, where fonts and color information were added to every single
    page, became a long and expensive process.</p>
    <p style="text-align:left;">To solve this problem, the World Wide Web Consortium (W3C) created CSS.</p>
    <p style="text-align:left;">CSS removed the style formatting from the HTML page!</p>
    <p style="text-align:left;"><strong>Note:</strong>If you don't know what HTML is, please refer to the HTML chapter.</p>
    <br>
    <h4> CSS Saves a Lot of Work!</h4>
    <p style="text-align:left;">The style definitions are normally saved in external .css files.</p>
    <p style="text-align:left;">With an external stylesheet file, you can change the look of an entire website by changing just one file!</p>
  </div>


  <div id="sql" class="tutorial">
    <h2>JavaScript</h2>
    <h3>JavaScript Introduction</h3>
    <h4>JavaScript Can Change HTML Content</h4>
    <p style="text-align:left;">One of many JavaScript HTML methods is <code>getElementById()</code>.</p>
    <p style="text-align:left;">The example below "finds" an HTML element (with id="demo"),
    and changes the element content (innerHTML) to "Hello JavaScript":</p>
    document.<span class="jspropertycolor" style="color:black">getElementById</span>(<span class="jsstringcolor" style="color:brown">"demo"</span>).<span class="jspropertycolor" style="color:black">innerHTML</span> = <span class="jsstringcolor" style="color:brown">"Hello JavaScript"</span>;
    <p style="text-align:left;">JavaScript accepts both double and single quotes:</p>
    document.<span class="jspropertycolor" style="color:black">getElementById</span>(<span class="jsstringcolor" style="color:brown">'demo'</span>).<span class="jspropertycolor" style="color:black">innerHTML</span> = <span class="jsstringcolor" style="color:brown">'Hello JavaScript'</span>;
    <br>
    <h4>JavaScript Can Change HTML Styles (CSS)</h4>
    <p style="text-align:left;">Changing the style of an HTML element, is a variant of changing an HTML
    attribute:</p>
    document.<span class="jspropertycolor" style="color:black">getElementById</span>(<span class="jsstringcolor" style="color:brown">"demo"</span>).<span class="jspropertycolor" style="color:black">style</span>.<span class="jspropertycolor" style="color:black">fontSize</span> = <span class="jsstringcolor" style="color:brown">"35px"</span>;
    <br>
    <h4>JavaScript Can Hide HTML Elements</h4>
    <p style="text-align:left;">Hiding HTML elements can be done by changing the <code>display</code> style:</p>
    document.<span class="jspropertycolor" style="color:black">getElementById</span>(<span class="jsstringcolor" style="color:brown">"demo"</span>).<span class="jspropertycolor" style="color:black">style</span>.<span class="jspropertycolor" style="color:black">display</span> = <span class="jsstringcolor" style="color:brown">"none"</span>;
    <br>
    <h4>JavaScript Can Show HTML Elements</h4>
    <p style="text-align:left;">Showing hidden HTML elements can also be done by changing the <code class="w3-codespan">display</code> style:</p>
    document.<span class="jspropertycolor" style="color:black">getElementById</span>(<span class="jsstringcolor" style="color:brown">"demo"</span>).<span class="jspropertycolor" style="color:black">style</span>.<span class="jspropertycolor" style="color:black">display</span> = <span class="jsstringcolor" style="color:brown">"block"</span>;
  </div>


</body>
